
<div class="document">
  <div class="acceptance">
    <p> Thank you for using PetVerify. Please retain this form for your records.<br><br>

      Below is your approval code. You will need this to submit your approval to your adopting agency. Print this form out and submit it in person to your adopting agency, or provide it online to your adopting agency website. <br><br>

      The code is self generated and is good for 30 days from date of issue.<br>


      Thank you for using PetVerify!<br>

      Your Pet Verify record will be stored in our fully integrated database online(F.I.D.O.) for future reference.
  </div>
  <div class="code">

  <p>Your code: <%= @approval_code %>
  </p>

  </div>
</div>



<!-- #returns the Description -->

 <%# @parsed.extend Hashie::Extensions::DeepFind %>
<%# deeper = @parsed.deep_find(:Description) %>
<%# if deeper.any? {|k, v| v.include? "ANIMAL"}  #asks if animal is included %>
  <%#= deeper %>
  <%#= "Not approved" %>
<%# else %>
  <%#= deeper %>
  <%#="approved" %>
<%# end %>
