





<p>You are :
<%= @decision %></p>

<%= @parsed %>
<%= @approval_code %>


<!-- #returns the Description -->

 <%# @parsed.extend Hashie::Extensions::DeepFind %>
<%# deeper = @parsed.deep_find(:Description) %>
<%# if deeper.any? {|k, v| v.include? "ANIMAL"}  #asks if animal is included %>
  <%#= deeper %>
  <%#= "Not approved" %>
<%# else %>
  <%#= deeper %>
  <%#="approved" %>
<%# end %>
