<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Check</title>
  </head>
  <body>
    <center><h1> The Little Background Checker </h1>

    <div class="col-md-4 how">
      <p>Bulbasaur Ivysaur Venusaur Charmander Charmeleon Charizard Squirtle Wartortle Blastoise Caterpie Metapod Butterfree Weedle Kakuna Beedrill Pidgey</p>
    </div>

    <div class="col-md-4 why">
      <p>Bulbasaur Ivysaur Venusaur Charmander Charmeleon Charizard Squirtle Wartortle Blastoise Caterpie Metapod Butterfree Weedle Kakuna Beedrill Pidgey</p>
    </div>

    <div class="col-md-4 price">
      <p>Bulbasaur Ivysaur Venusaur Charmander Charmeleon Charizard Squirtle Wartortle Blastoise Caterpie Metapod Butterfree Weedle Kakuna Beedrill Pidgey</p></center>
    </div>

    <div class="col-md-4 checker">

    </div>

    <div class="col-md-4 checker">
      <br><br>
      Chikorita Bayleef Meganium Cyndaquil Quilava Typhlosion  Totodile Croconaw Feraligatr Sentret Furret Hoothoot Noctowl Ledyba
      <%#= render "form" %>
    </div>

  </body>
</html>
