<%= wicked_pdf_stylesheet_link_tag "documents" %>

<div class="document">
  <div class="acceptance">
    <p> Thank you for using PetVerify. Please retain this form for your records.<br><br>

      Please contact customer service for more information. We cannot approve you at this time<br><br>



      Thank you for using PetVerify!<br>

      Your Pet Verify record will be stored in our fully integrated database online(F.I.D.O.) for future reference.
  </div>

</div>
