/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require animate
 */

 @import "bootstrap";
 @import "bootstrap";

html {
  padding-top: 5em;
}

/* navbar */

.navbar-inverse { background-color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #14FF34}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #4C8C38}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #14FF34}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #141414}
.navbar-inverse .navbar-brand:hover { color: #14FF34}
.navbar-inverse .navbar-nav>li>a { color: #999999}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.navbar-brand img{
  height: 40px;
  margin: 0;
  padding: 0;
  top: 1px;
  left: 1px;
}


.banner-top {
  background-image: image-url("banner1.jpg");
  height: 50em;
}

.banner-submit {
  background-image: image-url("submitpage.jpg");
  height: 50em;

}

.slogan {
  z-index:100;
 position:absolute;
 color:white;
 font-weight:bold;
 left:150px;
 top:250px;
}

.slogan h1 {
  font-size:44px;

}

.about {
  height: 30em;
  margin-bottom: 3em;
}

.divider-apply {
  background-image: image-url("woodline.jpg");
  height: 10em;

}

.divider-apply h1 {
  text-align: center;
  color: white;
  padding-top: .5em;
  font-size: 5em;
}

.main-content {
  position: absolute;
   bottom: -100%;
}

.divider {
  background-image: image-url("woodline.jpg");
  height: 20em;
}

 ul {
  list-style-type: none;
}

.apply-button {
	background-color:#77b55a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
  border-top-style: hidden;
}
.apply-button:hover {
	background-color:#72b352;
}
.apply-button:active {
	position:relative;
	top:1px;
}

.footer {
  background-color: black;
  font: gray;
  height: 10em;
}

// approval page

.document {
  // height: 297mm - 23mm;
  // width: 210mm - 21mm;


  // background-image: image-url("petlogo1copy.png");
  // background-repeat: no-repeat;
  // background-position: 200px 280px;
}

.code {

}
