.version.index /* version checker */
{
	color: #000011;
	background-color: #350ABD;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1222px;
	margin-left: auto;
	margin-right: auto;
}

#u326
{
	z-index: 2;
	width: 1035px;
	border-color: #000000;
	border-radius: 4px;
	padding-bottom: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 43px;
	background: #7F7F7F url("public/images/cat-banner-image-small.jpg") no-repeat left top;
}

#u326::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 4px rgba(199,178,153,0.67), inset 0px 0px 4px rgba(199,178,153,0.67);
}

#u327
{
	z-index: 3;
	width: 924px;
	height: 633px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 56px;
}

#u327::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 22px rgba(0,0,0,0.5), inset 0px 0px 22px rgba(0,0,0,0.5);
}

#u614
{
	z-index: 4;
	width: 800px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 13.1%;
}

#u328
{
	z-index: 5;
	width: 800px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u329
{
	z-index: 6;
	width: 800px;
	height: 53px;
	border-color: #000000;
	background-color: #39B54A;
	position: relative;
	margin-right: -10000px;
}

#u376-4
{
	z-index: 7;
	width: 291px;
	min-height: 31px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 5.13%;
}

#u377-4
{
	z-index: 11;
	width: 280px;
	min-height: 31px;
	background-color: transparent;
	text-align: left;
	line-height: 36px;
	letter-spacing: 1px;
	color: #F4F4EB;
	font-size: 30px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 58.5%;
}

#u549
{
	z-index: 15;
	width: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 43.38%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 500px;
}
