#u1647
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
}

#u4279
{
	background-color: transparent;
}

#u7861-5
{
	background-color: transparent;
	font-size: 12px;
}

#u7861
{
	color: #F6F6DB;
}

